*{
    cursor: url(../img/cursor.png), auto !important ;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    margin: 0;
    background-color:rgb(33, 13, 62);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url(../img/curriculum.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: top 50px right 100px;
}
h1, h2, h3 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
a {
    color: #007bff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        background-size: 150px; 
        background-position: top 20px right 20px; 
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%; 
        padding: 10px;
        background-size: 100px; 
        background-position: top 10px right 10px; 
    }
}